@using AbhsChinese.Code.Common
@using AbhsChinese.Domain.Enum

@{
    ViewBag.PageTitle = "知识点管理";
    ViewBag.ListTitle = "知识点列表";
}
@section Styles {
    @Styles.Render("~/bundles/css/abhsTableStyles")
    @Styles.Render("~/bundles/css/switcheryStyles")
    <style>
        /*abhsTable*/
        #table_knowledge {
            height: calc(100% - 40px);
        }

        #wrapper, .ibox, .table_container,.ibox-content {
            height: 100%;
        }

        .wrapper-content {
            height: calc(100% - 16px);
        }
    </style>
}

<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-12">
                <button type="button" name="btn_knowledgeType"
                        data-knowledge-type="0" class="btn btn-primary">
                    全部
                </button>

                @foreach (var item in CustomEnumHelper.GetElements(typeof(KnowledgeEnum)))
                {
                    <button type="button" name="btn_knowledgeType"
                            data-knowledge-type="@item.Key" class="btn btn-default">
                        @item.Value
                    </button>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                @Html.Partial("_SearchKnowledgeList")
            </div>
            <div class="col-2 text-right align-self-end">
                <div class="btn-group">
                    <button class="btn btn-white" type="button" onclick="javascript: location.href = '/Knowledge/Add';">
                        添加知识点
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="height: calc(100% - 72px);">
            <div class="col-12 table_container">
                <div id="table_knowledge"></div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/abhsTable")
    @Scripts.Render("~/bundles/js/switchery")
    <script>
        $(function () {
            initTable();
            registerEvent();

        });

        function registerEvent() {
            $('button[name="btn_knowledgeType"]').on('click', function () {
                let $self = $(this);
                if ($self.hasClass('btn-primary')) {
                    return;
                }

                let type = this.dataset.knowledgeType;
                let $form = $('#form_search_knowledge');
                $form.find('input[name="knowledgeType"]').val(type);
                $form.find('.search').click();

                $self.removeClass('btn-default').addClass('btn-primary')
                     .siblings('.btn-primary').removeClass('btn-primary').addClass('btn-default');
            });
        }

        function initTable() {
            //let align = 'center';
            let columns = [
                { label: '编号', name: 'Ykl_Id', align: 'center' },
                { label: '知识点名称', name: 'Ykl_Name', align: 'center' },
                { label: '知识点级别', name: 'Ykl_Level', align: 'center' },
                {
                    label: '父知识点', name: 'Ykl_ParentId', align: 'center', formatter: function (index, value, row) {
                        if (row.Ykl_ParentId > 0) {
                            return "<span>" + row.Ykl_ParentId + "</span>";
                        }
                        return "";
                    }
                },
                { label: '关键字', name: 'Ykl_Keywords', align: 'center' },
                { label: '关联讲解视/音频', name: 'Ykl_ResourceId', align: 'center' },
                {
                    label: '操作',
                    name: '',
                    align: 'center',
                    formatter: function (index, value, row) {
                        return "<a href='javascript:void(0)' class='text-info' onclick='knowledgeTree(" + row.Ykl_Id + "," + row.Ykl_ParentId + ")'>知识树</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class='text-info' onclick='edit(" + row.Ykl_Id + ")'>编辑</a>";
                    }
                }
            ];

            $('#table_knowledge').table({
                ajax: {
                    url: '@Url.Action("GetKnowledges", "Knowledge")'
                },
                columns: columns,
                searchBox: '#form_search_knowledge'
            });
        }

        function edit(id) {
            location.href = "/Knowledge/Add?id=" + id
        }

        function knowledgeTree(id, parentId) {
            layer.open({
                type: 2,
                title: "知识树",
                skin: 'layui-layer-rim',
                area: ["75%", "90%"],
                btn: ['关闭'],
                content: "/Knowledge/KnowledgeTree?parentId=" + parentId + "&childId=" + id
            });
        }
    </script>
}

