
@{
    ViewBag.PageTitle = "课程制作";
}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-12">
                <form role="form" class="form-inline search-form" id="form_search">
                    <input type="hidden" name="type" value="" />
                    <div class="form-group">
                        <input type="text" name="id" placeholder="请输入编号" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" placeholder="请输入名称" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="owner" placeholder="请输入负责人" class="form-control">
                    </div>
                    <div class="form-group">
                        <select class="select2 normal" data-ajax--url="@Url.Action("GetCurriculumCategaries","Select2")"
                                data-ajax--cache="true"
                                data-placeholder="请选择类型" data-allow-clear="true"
                                name="courseType"></select>
                    </div>
                    <div class="form-group">
                        <select class="select2 normal" data-ajax--url="@Url.Action("GetGrades","Select2")"
                                data-ajax--cache="true"
                                data-placeholder="请选择年级" data-allow-clear="true"
                                name="grade"></select>
                    </div>
                    <button class="btn btn-white search" type="button">搜索</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 table_container">
                <div id="table_list"></div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/bundles/css/abhsTableStyles")
    <style>
        #form_search {
            margin: 0px;
        }

            #form_search .form-group {
                max-width: 16.66%;
            }

                #form_search .form-group .form-control {
                    width: 100%;
                }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/js/abhsTable")
    <script>
        $(function () {
            $('.select2.normal').select2({
                width: '197px',
                allowClear: true,
                minimumResultsForSearch: Infinity
            }).on('change', function (e) {
                $(this).valid();
            });



            $('#table_list').table({
                ajax: {
                    url: '@Url.Action("GetCurriculums", "Curriculum")',
                    type: "post"
                },
                columns: [
                { label: '编号', name: 'Id', align: "center" },
                { label: '课程名称', name: 'Name', align: "center" },
                { label: '类型', name: 'CourseTypeText', align: "center" },
                { label: '年级', name: 'GradeText', align: "center" },
                { label: '负责人', name: 'OwnerName', align: "center" },
                { label: '课时', name: 'LessonCount', align: "center" },
                { label: '已合格课时', name: 'ApprovalLesCount', align: "center" },
                {
                    label: '课程描述', name: 'Description', align: "left",
                    formatter: function (index, value, row) {

                        var _value = String(value);
                        var targetLength = 20;
                        var str = "...";
                        if (value.length > targetLength)//如果字符串长度超过了设定长度
                        {
                            str = str.substr(0, targetLength);
                            _value = _value.substr(0, targetLength - str.length);
                            _value += str;
                        }
                        return "<span title='" + value + "'>" + String(_value) + "</span>";
                    }
                },
                {
                    label: '状态', name: 'StatusText', align: "center",
                    formatter: function (index, value, row) {
                        return value || "";
                    }
                },
                {
                    label: '操作', name: '', align: "center",
                    formatter: function (index, value, row) {
                        let url = '/Curriculum/MakeInfo/' + row.Id;
                        return '<a href="' + url + '">操作</a>';
                    }
                }
                ],
                searchBox: '#form_search'
            });

        })
    </script>
}