@model AbhsChinese.Admin.Models.Course.CurriculumDetailsViewModel

@{
    ViewBag.PageTitle = "课程制作-课程详情";
}

<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-sm details-container">
                    <tr>
                        <td rowspan="6" style="width:525px;text-align:center;">
                            <img src="@(string.IsNullOrWhiteSpace(Model.CoverImage)?"/Images/picture.jpg":Model.CoverImage)" class="img-fluid" alt="封面">
                        </td>
                        <th style="min-width:85px;">课程编号</th>
                        <td>@Model.Id</td>
                        <th style="min-width:85px;">课程名称</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>课程类型</th>
                        <td>@Model.CourseTypeText</td>
                        <th>年级</th>
                        <td>@Model.GradeText</td>
                    </tr>
                    <tr>
                        <th>课时数量</th>
                        <td>@Model.LessonCount</td>
                        <th>负责人</th>
                        <td>@Model.OwnerName</td>
                    </tr>
                    <tr>
                        <th>参与老师</th>
                        <td colspan="3">@Model.Teachers</td>
                    </tr>
                    <tr>
                        <th>课程简介</th>
                        <td colspan="3">@Model.Description</td>
                    </tr>
                    <tr>
                        <th>资源组</th>
                        <td>@Model.ResourceGroupName</td>
                        <th>课程状态</th>
                        <td>@Model.StatusText</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li>
                            <a class="nav-link" data-toggle="tab" href="#tab-1">课时列表</a>
                            <input type="hidden" value="list" />
                        </li>
                        <li>
                            <a class="nav-link" data-toggle="tab" href="#tab-2">操作日志</a>
                            <input type="hidden" value="logs" />
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane">
                            <div class="panel-body table_container">
                                <form role="form" id="form_search_list">
                                    <input type="hidden" name="courseId" value="@Model.Id" />
                                    <button hidden class="search" type="button">搜索</button>
                                </form>
                                <div id="table_list"></div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body table_container">
                                <form role="form" id="form_search_logs">
                                    <input type="hidden" name="courseId" value="@Model.Id" />
                                    <button hidden class="search" type="button">搜索</button>
                                </form>
                                <div id="table_logs"></div>
                                <div class="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/bundles/css/abhsTableStyles")
    <style>
        .table > tbody > tr > th, .table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>
}
@section Scripts{
    @Scripts.Render("~/bundles/js/abhsTable")
    <script src="~/Scripts/PageScripts/details.js"></script>
    <script>
        $(function () {
            initTabs();
            $('a[href="#tab-1"]').tab('show');
        });
        function initTabs() {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                let tab = $(e.target).next().val();
                if (tab === 'list') {
                    initLessonTable();
                } else if (tab === 'logs') {
                    initLogTable();
                }
            })
        }
        function initLessonTable() {
            let align = 'center';
            let columns = [
                {
                    label: '编号', name: 'Index', align: align, formatter: function (i, value, row) {
                        return row.CourseId + "-" + value;
                    }
                },
                { label: '课时名称', name: 'Name', align: align },
                { label: '最后编辑时间', name: 'UpdateTimeText', align: align },
                { label: '制作人员', name: 'ProducerName', align: align },
                { label: '审批人员', name: 'ApproverName', align: align },
                { label: '课时状态', name: 'StatusText', align: align },
                {
                    label: '操作', name: "", align: "center", formatter: function (i, value, row) {
                        return "<a target='_blank' href='/Curriculum/MakeChapter/" + row.ID + "' >编辑</a>"
                    }
                }
            ];
            window.lessonTable = $('#table_list').table({

                ajax: {
                    url: '@Url.Action("GetLessons", "Course")'
                },
                columns: columns,
                searchBox: '#form_search_list'
            });
        }

        function initLogTable() {
            let align = 'center';
            let columns = [
                { label: '操作日期', name: 'CreateTimeStr', align: align },
                { label: '操作人', name: 'OperatorName', align: align },
                { label: '操作类型', name: 'StatusStr', align: align },
                { label: '操作记录', name: 'Remark', align: "left" }
            ];
            $('#table_logs').table({
                ajax: {
                    url: '@Url.Action("GetLessonLog", "Curriculum")',
                    type: "post",
                },
                columns: columns,
                searchBox: '#form_search_logs'
            });
        }
    </script>
}