@model int?

@{
    ViewBag.PageTitle = "待校对-选择题";
    string controller = "MultipleChoice";
    ViewBag.controller = controller;
    ViewBag.action = "EditMultipleChoiceSubject";
    ViewBag.id = Model;
}

<div class="ibox">
    <div class="ibox-content">
        <form action="@Url.Action("Approve", controller)" method="post">
            <input type="hidden" name="subjectId" value="@Model" />
            <input type="hidden" name="nextStatus" />
            @Html.Partial("GetQuestionInfo")
            @Html.Partial("_SubjectBasicReadonly")
            @Html.Partial("_SubjectViewButtons")
        </form>
    </div>
</div>

@section Styles{
}

@section Scripts{
    <script src="~/Scripts/PageScripts/menu.patch.js"></script>
    <script src="~/Scripts/PageScripts/subjectreadonly.js"></script>
    <script src="~/Scripts/PageScripts/subject.view.mark.js"></script>
    <script src="~/Scripts/PageScripts/subject.view.reload.js"></script>
    <script src="~/Scripts/PageScripts/subjct.subjectbasic.js"></script>
    <script>
        $(function () {
            let url = '@Url.Action("GetDetails",controller)';
            let subjectId = $(':hidden[name="subjectId"]').val();
            $.getJSON(url, { id: subjectId }, function (response) {
                if (response.State) {
                    let data = response.Data;

                    renderSubjectBasicData(data);

                    reloadMultipleChoiceSubjectData(data);

                    //显示合格/不合格按钮或其他
                    let status = data.SubjectStatus;
                    registerEventForMark(status);
                    $('#div_button_' + status).show();
                }
            });
        });
    </script>
}