

@{
    ViewBag.PageTitle = "校区管理";
    ViewBag.ListTitle = "校区列表";

}
@section Styles {
    @Styles.Render("~/bundles/css/abhsTableStyles")
    @Styles.Render("~/bundles/css/switcheryStyles")

    @Styles.Render("~/bundles/css/select2Styles")
    <style>
        #wrapper {
            overflow-x: visible;
        }

        .text-info + .text-info {
            margin-left: 15px;
        }

        .img-info {
            width: 50px;
            height: 50px;
        }

        /*.pagination {
            display: none;
        }*/

        .wrapper-content {
            height: calc(100% - 60px);
        }

        #wrapper, .ibox, .table_container, .ibox-content {
            height: 100%;
        }

        #table_school {
            height: calc(100% - 60px);
            width: 100%;
            box-sizing: border-box;
        }

        .search-row, .table_container {
            width: 100%;
            box-sizing: border-box;
        }

        .search-form {
            padding-right: 0;
        }
    </style>

}

<div class="ibox">
    @*<div class="ibox-title">
            <h5>
                <i class="fa fa-table"></i>&nbsp;@ViewBag.ListTitle
            </h5>
            <div class="ibox-tools">

            </div>
        </div>*@
    <div class="ibox-content">
        <div class="row ">
            <div class="col-12 btn-status-list" data-val="-1">
            </div>
        </div>
        <div class="row search-row">
            @Html.Partial("_SearchSchoolList", new ViewDataDictionary
                       {
                            { "ProvinceId" , "0" },
                            { "CityId" , "0" },
                            { "CountyId" , "0" },
                            { "ProvinceFieldName" , "ProvId" },
                            { "CityFieldName","CityId"},
                            { "CountyFieldName","CountyId"},
                            {"ClassName","" }
                       })
            <div class="col-2 text-right mt-2 search-form">
                <button class="btn btn-white" type="button" onclick="edit(0)">
                    <i class="fa fa-plus"></i>&nbsp;添加校区
                </button>
            </div>
        </div>
        <div class="row" style="height: calc(100% - 50px);">
            <div class="col-12 table_container">
                <div id="table_school"></div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/js/abhsTable")
    @Scripts.Render("~/bundles/js/switchery")

    @Scripts.Render("~/bundles/js/htmlhelper")

    <script src="~/Scripts/PageScripts/abhschinese.common.js"></script>


    <script>
        $(function () {
            renderSearch();
            initTable();
            registerEvent();
        })

        function renderSearch() {
            //学校状态
            //$('.select2-status').initSelectOption({
            //    'source': schoolStatusArr,
            //    'className': '',
            //    'default': { key: '-1', value: '请选择状态' },
            //    'width': '200px',
            //    'useSelect2': true,
            //});
            //学校状态
            $('.btn-status-list').initBtns({
                'source': schoolStatusArr,
                'className': 'status-item',
                'name': 'Status',
            });
        }

        function initTable() {
            let columns = [
                { label: '编号', name: 'Bsl_Id', align: 'center' },
                { label: '校区名称', name: 'Bsl_SchoolName', align: 'center' },
                { label: '校区等级', name: 'LevelName', align: 'center' },
                { label: '校长', name: 'Bsl_MasterName', align: 'center' },
                { label: '校长手机号', name: 'Bsl_MasterPhone', align: 'center' },
                { label: '登录手机号', name: 'LoginPhone', align: 'center' },
                { label: '所在区域', name: 'RegionName', align: 'center' },
                { label: '详细地址', name: 'Bsl_Address', align: 'left' },
                { label: '合同到期日期', name: 'ExpiredDate', align: 'center' },
                {
                    label: '状态',
                    name: 'Bsl_Status',
                    align: 'center',
                    formatter: function (index, value, row) {
                        let statue = row['Bsl_Status']
                        // 正式运行 = 1,  营建期 = 2, 合同到期 = 3,
                        let className = statue == 1 ? "spc-green" : statue == 2 ? "spc-defaule" : "spc-red";
                        return `<span class="${className}">${row['StatusStr']}</span>`;
                    }
                },
                {
                    label: '操作',
                    name: '',
                    align: 'center',
                    formatter: function (index, value, row) {
                        return "<a href='javascript:void(0)' class='text-info' onclick='edit(" + row.Bsl_Id + ")'>编辑</a>";
                    }
                }
            ];
            $('#table_school').table({
                ajax: {
                    url: '@Url.Action("GetSchool", "School")'
                },
                columns: columns,
                searchBox: '#form_search_school'
            });
        }

        function registerEvent() {
            $('.status-item').on('click', function () {
                //$('.status-item').removeClass('btn-primary')
                //$('.status-item').map(function (i, v) {
                //    $(v).removeClass('btn-primary');
                //    if (!$(v).hasClass('btn-default')) {
                //        $(this).addClass('btn-default');
                //    }
                //})

                $(this).addClass('btn-primary').removeClass('btn-default');
                $(this).siblings().removeClass("btn-primary").addClass("btn-default");
                var name = $(this).data('for');
                //var exp = `$("[name='${name}']")`;
                //var item = eval(exp);
                var item = $(`[name=${name}]`);
                item.val($(this).data('val'));
                $('.search').click();
            })
        }

        function edit(schoolId) {
            window.location.href = '@Url.Action("Edit", "School")' + '?schoolId=' + schoolId;
        }
        function reload() {
            window.location.reload();
        }

    </script>
}