@using AbhsChinese.Code.Common
@using AbhsChinese.Domain.Enum
@{
    ViewBag.PageTitle = "老师管理";
    ViewBag.ListTitle = "人员列表";
}
@section Styles {
    @Styles.Render("~/bundles/css/abhsTableStyles")
    @Styles.Render("~/bundles/css/switcheryStyles")

    @Styles.Render("~/bundles/css/select2Styles")

    <style>
        #wrapper, .ibox, .table_container, .ibox-content {
            height: 100%;
        }

        .wrapper-content {
            height: calc(100% - 50px);
        }

        #table_employee {
            height: calc(100% - 40px);
            width: 100%;
            box-sizing: padding-box;
        }

        .table_container {
            width: 100%;
        }

        .search-row {
            width: 100%;
            box-sizing: border-box;
        }
        .search-row .search-form{
            padding-right:0;
        }
    </style>
}
<div class="ibox">
    <div class="ibox-content">
        <div class="row search-row">
            @Html.Partial("search")
            <div class="col-2 text-right search-form">
                <button type="button" class="btn btn-white" id="btnAddEmployee"><i class="fa fa-plus"></i>&nbsp;添加教师</button>
            </div>
        </div>
        <div class="row" style="height:calc(100% - 50px);">
            <div class="col-12 table_container">
                <div id="table_employee"></div>
                <div class="pagination"></div>
            </div>
        </div>


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/js/abhsTable")
    @Scripts.Render("~/bundles/js/switchery")

    @Scripts.Render("~/bundles/js/select2")
    <script src="~/Scripts/PageScripts/abhschinese.common.js"></script>
    <script type="text/javascript">
        $(function () {
            initTable();
            $("#btnAddEmployee").on("click", function () {
                window.location.href = "/Employee/EditEmployee?bem_id=0";
            });

            $('.select2.form-control').select2({
                width: '100%',
                allowClear: true,
                minimumResultsForSearch: Infinity
            }).on('change', function (e) {
                $(this).valid();
            });
            $('.select2.normal').select2({
                width: '197px',
                allowClear: true,
                minimumResultsForSearch: Infinity
            }).on('change', function (e) {
                $(this).valid();
            });

        });
        function initTable() {
            let columns = [
                { label: '编号', name: 'Bem_Id', align: 'center' },
                { label: '账号', name: 'Bem_Account', align: 'center' },
                { label: '姓名', name: 'Bem_Name', align: 'center' },

                {
                    label: '性别', name: 'Bem_Sex', align: 'center',
                    formatter: function (index, value, row) {
                        if (row.Bem_Sex == 1) {
                            return '男';
                        }
                        else if (row.Bem_Sex == 2) {
                            return '女';
                        }
                        else {
                            return '';
                        }
                    }
                },
                { label: '电话', name: 'Bem_Phone', align: 'center' },
                { label: '邮箱', name: 'Bem_Email', align: 'center', formatter: formatterStr('Bem_Email') },
                { label: '角色', name: 'Bro_Name', align: 'center' },
                {
                    label: '最后登录', name: 'Formate_Bem_LastLoginTime', align: 'center'
                },
                {
                    label: '最后登录地区', name: '', align: 'center',
                    formatter: function (index, value, row) {
                        let local = row.Bem_LastLoginArea || '';
                        if (local != '') {
                            local = local + '<br/>';
                        }
                        let ip = row.Bem_LastLoginIp ? `IP:${row.Bem_LastLoginIp}` : ''
                        return local + ip;
                    }
                },
                {
                    label: '状态', name: 'Bem_Status', align: 'center',
                    formatter: function (index, value, row) {
                        let className = row.Bem_Status == 1 ? "" : row.Bem_Status == 2 ? "spc-defaule" : "spc-red";//spc-green
                        let statusStr = '';
                        if (row.Bem_Status == 1) {
                            statusStr = '有效';
                        }
                        else if (row.Bem_Status == 2) {
                            statusStr = '无效';
                        }
                        else if (row.Bem_Status == 3) {
                            statusStr = '删除';
                        }
                        return `<span class="${className}">${statusStr}</span>`;
                    }
                },
                {
                    label: '操作', name: 'Bem_Id', align: 'center',
                    formatter: function (index, value, row) {
                        return '<a href="/Employee/EditEmployee?Bem_Id=' + row.Bem_Id + '" class="text-info">编辑</a>';
                    }
                }
            ];
            $("#table_employee").table({
                ajax: {
                    url: '@Url.Action("GetEmployees", "Employee")'
                },
                columns: columns,
                searchBox: '#form_search_employee'
            });
        }
    </script>
}