@using AbhsChinese.Code.Common
@using AbhsChinese.Domain.Enum
@using AbhsChinese.Admin.Models.Resource

@model int

@{
    ViewBag.Title = "ShowText";
    Layout = "~/Views/Shared/_Forms.cshtml";
}

@section Styles {

    @Styles.Render("~/bundles/css/select2Styles")
    <link href="~/Content/layer/theme/default/layer.css" rel="stylesheet" />
    <link href="~/Content/ui-choose/ui-choose.css" rel="stylesheet" />
    <style>
        .ibox-content {
            border: none;
        }

        .wrapper-content {
            padding: 20px 10px 0;
        }

        .check-link {
            display: none;
        }

        .todo-list.small-list > li {
            background: #f8f8f8;
            cursor:pointer;
        }

        .check-link {
            display: inline !important;
        }

        #type + .select2 {
            margin-left: 20px;
        }

        #ullist {
            width: 300px;
            overflow: auto;
            border: 1px solid #e5e6e7;
            display: none;
        }
        .msgBtn {
            text-align: center;
            /*margin: 10px 0 10px 90px;*/
            position:absolute;
            width: 300px;
            height:37px;
            bottom: -9px;
            left: 35px;
        }

        .oddli {
            background-color: #fbfcfd !important;
        }

        .evenli {
            background-color: #ffffff !important;
        }
    </style>
}

<input type="hidden" value="1" id="resourceType" />

<div class="wrapper wrapper-content" style="height:100%;">
    <div class="row">
        <div class="col-md-12" style="padding-left:35px;">
            <div class="input-group">
                <select id="grade" class="select2" data-ajax--url="@Url.Action("GetGrades","Select2")"
                        data-ajax--cache="true"
                        data-placeholder="请选择年级" data-allow-clear="true"
                        name="Grade">
                    <option></option>
                </select>
                <select id="type" class="select2" data-ajax--url="@Url.Action("GetTextType","Select2")"
                        data-ajax--cache="true"
                        data-placeholder="请选择文本类型" data-allow-clear="true"
                        name="Type">
                    <option></option>
                </select>
                <input id="nameOrkey" type="text" class="form-control" name="NameOrKey" placeholder="按资源名称、编号或关键字搜索" style="flex:none;width:250px !important;margin-left:20px;" />
                <button id="search" class="btn btn-primary search" type="button" style="width:80px;margin-left:20px;">
                    搜索
                </button>
            </div>
        </div>
        <form id="ajaxForm" style="display: none">
            <input type="hidden" name="Ygi_GroupId" id="groupId" value="@Model" />
            <input type="hidden" name="Ygi_ResourceType" value="1" />
            <input type="hidden" name="Ygi_ResourceId" id="resourceId" required />
            <button class="btn btn-primary btn-sm" type="button" id="btn_SignIn">保存</button>
        </form>
    </div>
    <div class="row" style="height: calc(100% - 50px);">
        <div class="col-lg-12" style="height:100%;">
            <div class="row" style="height:100%;">
                <div class="col-lg-3" style="flex:0 0 8%;height:100%">
                    <div class="ibox" style="margin-bottom:0px;height:100%">
                        <div class="ibox-content" style="padding-right:0px;height:100%">
                            <span style="margin-left:10px;display:none;font-size:14px;" id="searchTip">符合条件的文本资源：</span>
                            <ul class="todo-list small-list" id="ullist" style="height:100%;"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ibox" style="margin-bottom:0px;margin-top: 40px;">
                        <div class="ibox-content text-left">
                            <div id="detail" style="height:600px;">
                                <div id="txtDiv" style="display:none;">
                                    <div class="form-group  row">
                                        <label class="col-sm-1 col-form-label">文本内容:</label>
                                        <div class="col-sm-10" id="txtContent">
                                            <div style="height:500px;border:1px solid #e5e6e7;padding-left:10px;padding-top:5px;">无</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<label id="tip" style="position:absolute;left:45%;top:30%;font-size:13px;color:#999;">请选择条件搜索文本资源</label>
<label id="tip2" style="position:absolute;left:45%;left:45%;top:30%;font-size:13px;color:#999;display:none;">没有符合条件的文本资源</label>

@section Scripts {

    @Scripts.Render("~/bundles/js/select2")
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Scripts/PageScripts/abhschinese.common.js"></script>
    <script src="~/Content/ui-choose/ui-choose.js"></script>
    <script>
        var index = 1;
        var listLoading = false;
        var isOver = false;
        $(function () {
            $('.select2').select2({
                width: '200px',
                allowClear: true,
                minimumResultsForSearch: Infinity
            }).on('change', function (e) {
                let $select = $(this);
                let selectedValue = $select.val();
                let $hidden = $select.parent('div.select-container')
                    .find('input[type="hidden"]');
                $hidden.val(selectedValue);
                $hidden.next('label.error').remove();
            });


            $("#search").click(function () {
                isOver = false;
                $("#detail").hide();
                $("#ullist").empty();
                index = 1;
                LoadList();
            });

            $("#ullist").scroll(function () {
                if (this.offsetHeight + this.scrollTop >= this.scrollHeight) {
                    if (!listLoading && !isOver) {
                        $("#msg").remove();
                        index++;
                        LoadList();
                    }
                }
            })

            $("#btn_SignIn").click(function () {
                loadingFlag = parent.layer.msg('加载中，请稍候……', { icon: 16, shade: 0.01, shadeClose: false, time: 60000 });
                ajaxSubmit();
            });
        });
        function LoadList() {
            if (!listLoading && !isOver) {
                listLoading = true;
                var grade = $("#grade option:checked").val();
                var type = $("#type option:checked").val();
                var nameOrkey = $("#nameOrkey").val();
                var resourceType = $("#resourceType").val();

                $.ajax({
                    url: '/ResourceGroup/GetResourceList',
                    type: 'get',
                    data: {
                        pageIndex: index,
                        pageSize: 20,
                        grade: grade,
                        type: type,
                        nameOrkey: nameOrkey,
                        resourceType: resourceType
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.Code == 1) {
                            $("#ullist").show();
                            $("#tip").hide();
                            $("#searchTip").show();
                            let flat = 0;
                            for (var i = 0; i < data.Data.length; i++) {
                                if (flat == 0) {
                                    $("#ullist").append('<li id="li' + data.Data[i].Ytr_Id + '" onclick="choose(' + data.Data[i].Ytr_Id + ',1)" class="oddli"><a href="#" class="check-link"><i class="fa fa-square-o"></i></a><span class="m-l-xs">' + (data.Data[i].Ytr_Name.length > 12 ? data.Data[i].Ytr_Id + " - " + data.Data[i].Ytr_Name.length.substring(0, 12) + "..." : data.Data[i].Ytr_Id + " - " + data.Data[i].Ytr_Name) + '</span></li>');
                                    flat = 1;
                                }
                                else {
                                    $("#ullist").append('<li id="li' + data.Data[i].Ytr_Id + '" onclick="choose(' + data.Data[i].Ytr_Id + ',1)" class="evenli"><a href="#" class="check-link"><i class="fa fa-square-o"></i></a><span class="m-l-xs">' + (data.Data[i].Ytr_Name.length > 12 ? data.Data[i].Ytr_Id + " - " + data.Data[i].Ytr_Name.length.substring(0, 12) + "..." : data.Data[i].Ytr_Id + " - " + data.Data[i].Ytr_Name) + '</span></li>');
                                    flat = 0;
                                }
                            }
                            if (data.Data.length >= 20) {
                                $("#ullist").append('<button class="btn btn-default msgBtn" id="msg" onclick="loadmore()">点击加载更多</button>');
                            }
                        }
                        if ($("#ullist").children().length == 0) {
                            $("#tip").hide();
                            $("#searchTip").hide();
                            $("#tip2").show();
                            $("#detail").hide();
                            $("#ullist").hide();
                        }
                        else {
                            $("#searchTip").show();
                            $("#tip").hide();
                            $("#tip2").hide();
                        }
                        listLoading = false;
                    },
                    error: function (data) {
                        listLoading = false;
                        console.log(data)
                    }
                });
            }
        }
        function loadmore() {
            if (!listLoading && !isOver) {
                $("#msg").remove();
                console.log("加载数据");
                index++;
                LoadList();
            }
        }


        function choose(id, resourceType) {
            var $li = $("#li" + id + "").children().children();
            var classname = $li.attr("class");
            if (classname == "fa fa-square-o") {
                $("li a i").each(function () {
                    if ($(this).attr("class") == "fa fa-check-square") {
                        $(this).removeClass("fa fa-check-square");
                        $(this).addClass("fa fa-square-o");
                        $(this).parent().parent().css("background", "#f8f8f8");
                        $(this).parent().next().css("color", "#676a6c");
                    }
                })

                $("#li" + id + "").css("background", "#1ab394");
                //$("#li" + id + "").children().next().css("color", "#fff");
                $li.removeClass("fa fa-square-o");
                $li.addClass("fa fa-check-square");
                $("#detail").show();
            }
            else {
                $("#li" + id + "").css("background", "#f8f8f8");
                $("#li" + id + "").children().next().css("color", "#676a6c");
                id = 0;
                $li.removeClass("fa fa-check-square");
                $li.addClass("fa fa-square-o");
                $("#detail").hide();
                $("#resourceId").val("");
                return;
            }

            $.ajax({
                url: '/ResourceGroup/Detail?id=' + id + '&resourceType=' + resourceType,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data.Data != null) {
                        $("#tip").hide();
                        if (data.ErrorCode == 1) {
                            $("#txtDiv").show();
                            $("#txtContent").empty();
                            $("#txtContent").append('<div style="height:200px;border:1px solid #e5e6e7;padding-left:10px;padding-top:5px;">' + data.Data.Yxo_Content + '</div>');
                            $("#detail").show();
                            $("#resourceId").val(data.Data.Ytr_Id)
                        }
                    }
                    else {
                        $("#resourceId").val("");
                        $("#tip").show();
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }

        function ajaxSubmit() {
            if (!$("#ajaxForm").valid()) {
                parent.layer.close(loadingFlag);
                return false;
            }
            if ($("#resourceId").val() == "") {
                parent.layer.close(loadingFlag);
                layer.alert("请选择资源");
                return;
            }

            $.ajax({
                url: "/ResourceGroup/AddResourceGroupItemDo",
                type: "post",
                data: $('#ajaxForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.State) {
                        top.window.layer.msg(data.ErrorMsg, { time: 500 }, function () { top.window.layer.closeAll(); top.window.location.href = "/ResourceGroup/Edit?id=@Model&active=1";});
                    } else {
                        top.window.layer.alert(data.ErrorMsg, { icon: 2 }, function () { top.window.layer.closeAll(); });
                    }
                },
                error: function (data) {
                    debugger;
                    parent.layer.close(loadingFlag);
                    top.window.layer.alert(data.ErrorMsg, { icon: 2 }, function () { top.window.layer.closeAll(); });
                }
            });
        }
    </script>
}