<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("styles", required: false)
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>