@model int?
@{
    ViewBag.PageTitle = "待校对-连线题";
    string controller = "Match";
    ViewBag.controller = controller;
    ViewBag.action = "EditMatchSubject";
    ViewBag.id = Model;
}


<div class="ibox">
    <div class="ibox-content">
        <form action="@Url.Action("Approve", controller)" method="post">
            <input type="hidden" name="subjectId" value="@Model" />
            <input type="hidden" name="nextStatus" />
            @Html.Partial("GetQuestionInfo")
            @Html.Partial("_SubjectBasicReadonly")
            @Html.Partial("_SubjectViewButtons")
        </form>
    </div>
</div>

@section Styles{
    <style>
        .table-nobordered td {
            border-top: none !important;
        }

        #table_answers p {
            display: inline-block;
        }
    </style>
}

@section Scripts{
    <script src="~/Scripts/PageScripts/menu.patch.js"></script>
    <script src="~/Scripts/PageScripts/subjectreadonly.js"></script>
    <script src="~/Scripts/PageScripts/subject.view.mark.js"></script>
    <script src="~/Scripts/PageScripts/subject.view.reload.js"></script>
    <script src="~/Scripts/PageScripts/subjct.subjectbasic.js"></script>
    <script>
        $(function () {
            let url = '@Url.Action("GetDetails",controller)';
            $.getJSON(url, { id: '@Model' }, function (response) {
                if (response.State) {
                    let data = response.Data;
                    
                    renderSubjectBasicData(data);

                    reloadMatchSubjectData(data);

                    let status = data.SubjectStatus;
                    registerEventForMark(status);
                    $('#div_button_' + status).show();
                }
            });
        });

        
    </script>
}

