@using AbhsChinese.Web.Models.SubjectReport
@using AbhsChinese.Domain.Enum
@model SumReportViewModel
@{
    ViewBag.Title = "学习报告";
}
<style>
    html, body {
        height: 100%;
    }

    .btn {
        cursor: pointer;
    }
</style>

<div class="bodycontent">
    @Html.Partial("_NavBar")
    <div class="navigation">
        <div class="navigationl fl">
            <span class="arrow-right"></span>
            <a href="@Url.Action("Index","LearningCenter")">学习中心</a><em><img src="/Images/StudentInfo/back.png"></em><a href="@Url.Action("StudentReportList","StudentReport")">学习报告</a><em><img src="/Images/StudentInfo/back.png"></em><a href="javascript:void(0)">报告详情</a>
        </div>
        <!-- <div class="navigationr"><span class="refurbish"><img src="~/Images/StudentInfo/refurbish.png" />刷新</span></div> -->
    </div>
    <div class="taskdetailpage practicepage">
        @{
            if (Model.Source == 0)
            {
                <!--开场动画开始-->
                <div class="startbox">
                    <img class="shapebox" src="~/Images/StudentInfo/shape.png" />
                    <div class="shapecont itemcenter">
                        <img class="scrollamn" src="~/Images/StudentInfo/scrollsImg.png" />
                    </div>
                    <div class="btn"><img src="~/Images/StudentInfo/shapeBtn.png" /></div>
                </div>
                <!--开场动画结束-->
            }
        }
        <div class="taskmainpage" @(Model.Source == 1 ? "style=display:block;" : "")>
            <div class="maintop"><img src="~/Images/StudentInfo/img_bg-4.png" /></div>
            <div class="mainbox" @(Model.Source == 1 ? "style=height:auto;" : "")>
                <div class="boxtop"><img src="~/Images/StudentInfo/porttopimg.png" /></div>
                <div class="boxcenter">
                    <div class="practicebox">
                        <div class="dz"><img src="~/Images/StudentInfo/sun.png" /></div>
                        <div class="practicetitle">@Model.StudentName-@Model.ReportTypeStr</div>
                        <div class="practinfo">@Model.CourseTitle</div>
                        <div class="practinfo1">@Model.StudyDate</div>
                        <div class="practx">
                            @{
                                int stars = Model.TotalScore;
                                if (stars < 0)
                                {
                                    stars = 0;
                                }
                                for (int i = 0; i < stars; i++)
                                {
                                    <img src="~/Images/StudentInfo/stars.png" />
                                }
                                for (int j = 0; j < 5 - stars; j++)
                                {
                                    <img src="~/Images/StudentInfo/stars-num.png" />
                                }
                            }
                        </div>
                        <div class="pracresbox">
                            <div class="item">
                                <img src="~/Images/StudentInfo/icon_1.png" />
                                <div class="infox">@Model.StudyTime<span>分</span></div>
                                <div class="infox1">学习时间</div>
                            </div>
                            <div class="item">
                                <img src="~/Images/StudentInfo/icon_2.png" />
                                <div class="infox">@Model.TotalCoins<span>个</span></div>
                                <div class="infox1">获得金币</div>
                            </div>
                            <div class="item">
                                <img src="~/Images/StudentInfo/icon_3.png" />
                                <div class="infox">@Model.SubjectCount<span>个</span></div>
                                <div class="infox1">练习题</div>
                            </div>
                            <div class="item">
                                <img src="~/Images/StudentInfo/icon_4.png" />
                                <div class="infox">@Model.ExcellentRates%</div>
                                <div class="infox1">五星率</div>
                            </div>
                        </div>
                        <div class="practtable">
                            @{
                                foreach (var topKnowledge in Model.Knowledge)
                                {
                                    <table>
                                        <thead>
                                        <th style="width: 52%;" class="textleft line1">@topKnowledge.TopName</th>
                                        <th style="width: 12%;">有待提高</th>
                                        <th style="width: 12%;">还不错</th>
                                        <th style="width: 12%;">很好</th>
                                        <th style="width: 12%;">完美</th>
                                        </thead>
                                        @foreach (var child in topKnowledge.ChildKnowledge)
                                        {
                                            <tr>
                                                <td class="textleft">@child.ChildName</td>
                                                <td class="">
                                                    <div class="seimg itemcenter">
                                                        @if (child.Desc == (int)EvaluateEnum.有待提高)
                                                        {
                                                            <img src='~/Images/StudentInfo/selsel.png' />
                                                        }
                                                        else
                                                        {
                                                            <img src='~/Images/StudentInfo/seldefault1.png' />
                                                        }
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div class="seimg itemcenter">
                                                        @if (child.Desc == (int)EvaluateEnum.还不错)
                                                        {
                                                            <img src='~/Images/StudentInfo/selsel.png' />
                                                        }
                                                        else
                                                        {
                                                            <img src='~/Images/StudentInfo/seldefault1.png' />
                                                        }
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div class="seimg itemcenter">
                                                        @if (child.Desc == (int)EvaluateEnum.很好)
                                                        {
                                                            <img src='~/Images/StudentInfo/selsel.png' />
                                                        }
                                                        else
                                                        {
                                                            <img src='~/Images/StudentInfo/seldefault1.png' />
                                                        }
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div class="seimg itemcenter">
                                                        @if (child.Desc == (int)EvaluateEnum.完美)
                                                        {
                                                            <img src='~/Images/StudentInfo/selsel.png' />
                                                        }
                                                        else
                                                        {
                                                            <img src='~/Images/StudentInfo/seldefault1.png' />
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                }
                            }
                        </div>
                        <div class="practsummarybox">
                            <div class="practsummary">
                                <div class="linetext1">
                                    <span class="maintit fl">评语：</span>
                                    <span></span>
                                </div>
                                <div class="linetext1 col">
                                    <span class="maintit fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span>@Model.StudyAdvice</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxbottom"><img src="~/Images/StudentInfo/portbottomimg.png" /></div>
            </div>
            <div class="mainbottom"><img src="~/Images/StudentInfo/img_bg-4_1.png" /></div>
        </div>
        <div class="gobackpage" @(Model.Source == 0 ? "style=display:none;" : "")><a href="@Model.Path"><img src="~/Images/StudentInfo/goback.png" /></a></div>
    </div>
</div>
<div class="bodybjleft">
    <img src="~/Images/StudentInfo/homeLeft.png" />
</div>
<div class="bodybjright">
    <img src="~/Images/StudentInfo/homeRight.png" />
</div>
@section Scripts {
    <script>
        $(function () {
            if(@Model.Source==0)
            {
                //开场动画
                $('.taskdetailpage .btn').click(function () {
                    $('.taskdetailpage .startbox').addClass('selstartbox');
                    $('.taskdetailpage .shapecont img').addClass('seleimg');
                    setTimeout(
                        function () {
                            $('.taskdetailpage .startbox').hide();
                           
                            $('.taskmainpage').fadeIn(1000);
                            var curHeight = $('.taskmainpage .mainbox').height();
                            var autoHeight = $('.taskmainpage .mainbox').css('height', 'auto').height();
                            $('.taskmainpage .mainbox').height(curHeight).animate({
                                height: autoHeight
                            }, 3000);
                           
                        }, 1000);
                    setTimeout(
                        function () {
                            $('.gobackpage').show(); },4000);
                })
            }
        })
    </script>
}
